<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.decade.usercenter.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.decade.hapicommon.model.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="userStatus" column="UserStatus" jdbcType="INTEGER"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="flag" column="flag" jdbcType="TINYINT"/>
            <result property="userRole" column="userRole" jdbcType="INTEGER"/>
            <result property="specialCode" column="specialCode" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="BIGINT"/>
            <result property="accessKey" column="accessKey" jdbcType="VARCHAR"/>
            <result property="seceretKey" column="seceretKey" jdbcType="VARCHAR"/>
            <result property="extend_3" column="extend_3" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,userAccount,
        avatarUrl,gender,userPassword,
        phone,email,userStatus,
        updateTime,createTime,flag,
        userRole,specialCode,score,
        accessKey,seceretKey,extend_3
    </sql>

    <select id="findUserByPage" resultType="com.decade.hapicommon.model.domain.User">
        select id,userName,userAccount,gender,avatarUrl,phone,email,userStatus,userRole,specialCode,score,createTime,updateTime from
        user where flag != 1
        <if test="userName != null and userName != ''">
            and userName like concat('%',#{userName},'%')
        </if>
        <if test="userAccount !=null and userAccount !=''">
            and userAccount like concat ('%',#{userAccount},'%')
        </if>
        <if test="gender !=null and gender !=''">
            and gender = #{gender}
        </if>
        <if test="phone !=null and phone !=''">
            and phone like concat ('%',#{phone},'%')
        </if>
        <if test="email !=null and email !=''">
            and email like concat ('%',#{email},'%')
        </if>
        <if test="specialCode !=null and specialCode !=''">
            and specialCode = #{specialCode}
        </if>
        <if test="userStatus !=null and userStatus !=''">
            and userStatus = #{userStatus}
        </if>
        <if test="userRole !=null and userRole !=''">
            and userRole = #{userRole}
        </if>
        <if test="createTime !=null and createTime !=''">
            and createTime = #{createTime}
        </if>


    </select>
</mapper>
